<template>
    <v-data-table
        :headers="headers"
        :items="students"
        :items-per-page="5"
        :search="search"
        class="elevation-1"
    >
        <template v-slot:top>
            <v-toolbar flat color="white">
                <v-toolbar-title>Manage Students</v-toolbar-title>
                <v-divider
                    class="mx-4"
                    inset
                    vertical
                ></v-divider>
                <v-spacer></v-spacer>
                <v-text-field
                    v-model="search"
                    append-icon="mdi-magnify"
                    label="Search"
                    single-line
                    hide-details
                ></v-text-field>
                <v-spacer></v-spacer>
                <v-dialog v-model="dialog" max-width="500px">
                    <template v-slot:activator="{ on }">
                        <v-btn color="primary" dark class="mb-2" v-on="on">New Student</v-btn>
                    </template>
                    <v-card>
                        <v-card-title>
                            <span class="headline">{{ formTitle }}</span>
                        </v-card-title>

                        <v-card-text>
                            <v-form
                                v-model="valid"
                                ref="form"
                            >
                                <v-container>
                                    <v-row>
                                        <v-col cols="12" sm="6" md="8">
                                            <v-text-field :rules="nameRules" v-model="editedItem.name"
                                                          label="Name"></v-text-field>
                                        </v-col>
                                        <v-col cols="12" sm="6" md="6">
                                            <v-text-field :rules="surnameRules" v-model="editedItem.surname"
                                                          label="Surname"></v-text-field>
                                        </v-col>
                                        <v-col cols="12" sm="6" md="6">
                                            <v-text-field :rules="patronymicRules" v-model="editedItem.patronymic"
                                                          label="Patronymic"></v-text-field>
                                        </v-col>
                                        <v-col cols="12" sm="6" md="6">
                                            <v-dialog
                                                ref="dialog"
                                                v-model="modal"
                                                :return-value.sync="editedItem.birthday"
                                                persistent
                                                width="290px"
                                            >
                                                <template v-slot:activator="{ on }">
                                                    <v-text-field
                                                        v-model="editedItem.birthday"
                                                        label="Birthday date"
                                                        prepend-icon="event"
                                                        readonly
                                                        v-on="on"
                                                    ></v-text-field>
                                                </template>
                                                <v-date-picker v-model="editedItem.birthday" scrollable>
                                                    <v-spacer></v-spacer>
                                                    <v-btn text color="primary" @click="modal = false">Cancel</v-btn>
                                                    <v-btn text color="primary"
                                                           @click="$refs.dialog.save(editedItem.birthday)">OK
                                                    </v-btn>
                                                </v-date-picker>
                                            </v-dialog>
                                        </v-col>
                                        <v-col cols="12" sm="6" md="6">
                                            <v-text-field :hint="markHint" :rules="markRules" v-model="editedItem.math" label="Math"></v-text-field>
                                        </v-col>
                                        <v-col cols="12" sm="6" md="6">
                                            <v-text-field :hint="markHint" :rules="markRules" v-model="editedItem.physics" label="Physics"></v-text-field>
                                        </v-col>
                                        <v-col cols="12" sm="6" md="6">
                                            <v-text-field :hint="markHint" :rules="markRules" v-model="editedItem.chemistry"
                                                          label="Chemistry"></v-text-field>
                                        </v-col>
                                        <v-col cols="12" sm="6" md="6">
                                            <v-text-field :hint="markHint" :rules="markRules" v-model="editedItem.history" label="History"></v-text-field>
                                        </v-col>
                                        <v-col cols="12" sm="6" md="6">
                                            <v-text-field :hint="markHint" :rules="markRules" v-model="editedItem.literature"
                                                          label="Literature"></v-text-field>
                                        </v-col>
                                    </v-row>
                                </v-container>
                            </v-form>
                        </v-card-text>

                        <v-card-actions>
                            <v-spacer></v-spacer>
                            <v-btn color="blue darken-1" text @click="close">Cancel</v-btn>
                            <v-btn color="blue darken-1" text @click="save">Save</v-btn>
                        </v-card-actions>
                    </v-card>
                </v-dialog>
            </v-toolbar>
        </template>
        <template v-slot:item.action="{ item }">
            <v-icon
                small
                class="mr-2"
                @click="editStudent(item)"
            >
                mdi-pencil
            </v-icon>
            <v-icon
                small
                @click="deleteStudent(item)"
            >
                mdi-delete
            </v-icon>
        </template>
    </v-data-table>
</template>

<script>
    export default {
        data() {
            return {
                search: '',
                dialog: false,
                modal: false,
                markHint: 'Enter mark 3, 4 or 5',
                valid: true,
                nameRules: [
                    v => !!v || 'Name is required',
                    v => (v || '').length <= 20 || 'Name must be less than 20 characters',
                ],
                surnameRules: [
                    v => !!v || 'Surname is required',
                    v => (v || '').length <= 20 || 'Surname must be less than 20 characters',
                ],
                patronymicRules: [
                    v => !!v || 'Patronymic is required',
                    v => (v || '').length <= 20 || 'Patronymic must be less than 20 characters',
                ],
                markRules: [
                    v => !!v || 'Mark is required',
                    v => (parseInt(v) == v) || 'Mark must be a integer number',
                    v => (v >= 3 && v <= 5) || 'Mark must be in range [3, 5]'
                ],
                headers: [
                    {
                        text: 'Name',
                        value: 'name'
                    },
                    {
                        text: 'Surname',
                        value: 'surname'
                    },
                    {
                        text: 'Patronymic',
                        value: 'patronymic'
                    },
                    {
                        text: 'Math',
                        value: 'math'
                    },
                    {
                        text: 'Physics',
                        value: 'physics'
                    },
                    {
                        text: 'Chemistry',
                        value: 'chemistry'
                    },
                    {
                        text: 'History',
                        value: 'history'
                    },
                    {
                        text: 'Literature',
                        value: 'literature'
                    },
                    {
                        text: 'Actions',
                        value: 'action',
                        sortable: false
                    }
                ],
                students: [],
                editedIndex: -1,
                editedItem: {
                    name: '',
                    phone: '',
                    email: '',
                    birthday: '1994-09-01',
                    math: 5,
                    physics: 5,
                    chemistry: 5,
                    history: 5,
                    literature: 5
                },
                defaultItem: {
                    name: '',
                    phone: '',
                    email: '',
                    birthday: '1994-09-01',
                    math: 5,
                    physics: 5,
                    chemistry: 5,
                    history: 5,
                    literature: 5
                },
            }
        },
        created() {
            this.getStudents();
        },
        computed: {
            formTitle() {
                return this.editedIndex === -1 ? 'New Student' : 'Edit Student'
            },
        },
        methods: {
            getStudents() {
                let uri = `${process.env.MIX_APP_URL}/api/students`;
                axios.get(uri).then(response => {
                    this.students = response.data.data;
                });
            },
            deleteStudent(item) {
                let uri = `${process.env.MIX_APP_URL}/api/student/delete/${item.id}`;
                axios.delete(uri).then(response => {
                    this.students.splice(this.students.indexOf(item), 1);
                });
            },
            editStudent(item) {
                this.editedIndex = this.students.indexOf(item)
                this.editedItem = Object.assign({}, item)
                this.dialog = true
            },
            close() {
                this.dialog = false
                setTimeout(() => {
                    this.editedItem = Object.assign({}, this.defaultItem)
                    this.editedIndex = -1
                }, 300)
            },
            save() {
                if (!this.$refs.form.validate()) {
                    return;
                }
                if (this.editedIndex > -1) {
                    Object.assign(this.students[this.editedIndex], this.editedItem)
                    let uri = `${process.env.MIX_APP_URL}/api/student/update/${this.editedItem.id}`;
                    axios.post(uri, this.editedItem).then((response) => {
                        this.close()
                    });
                } else {
                    this.students.push(this.editedItem)
                    let uri = `${process.env.MIX_APP_URL}/api/student/create`;
                    axios.post(uri, this.editedItem).then((response) => {
                        this.close()
                    });
                }
            },
        }
    }
</script>
